[Unit]
Description=graylog2-server
BindTo=network.target
Requires=elasticsearch.service mongod.service

[Service]
Type=simple
User=root
PIDFile=/var/run/graylog2-webserver.pid
ExecStart=/usr/bin/java -jar /opt/graylog2-server/graylog2-server.jar -f /etc/graylog2.conf -p /var/run/graylog2-webserver.pid

[Install]
WantedBy=multi-user.target
